/* Style the tab */
.tab {
    float: left;
    border: 0px solid #ccc;
    width: auto;
    height: auto;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}


/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #FFF;
}

/* Style the tab content */
.tabcontent {
    float: right;
    padding: 0px 12px;
    border: 0px solid #ccc;
    width: 70%;
    border-left: none;
    height: auto;

}
